[mariadb]
general_log
general_log_file=/tmp/mariadb_general.log
wsrep_log_conflicts=ON
wsrep_provider_options="cert.log_conflicts=ON"
wsrep_debug=TRANSACTION
log_error=/tmp/mariadb_error.log
log_bin=/tmp/mariadb_bin
